:root {
  --bg-color: #111;
  --header-bg-color: #000;
  --input-bg-color: rgba(255,255,255,0.1);
  --vlist-bg-color: rgba(255,255,255,0.025);
  --vlist-item-hover-bg-color: rgba(255,255,255,0.01);
  --remove-btn-bg-color: #333;
  --video-bg-color: #000;
  --markbtn-default-bg-color: #c02529;
  --markbtn-default-disabled-bg-color: #602529;
  --markbtn-default-hover-bg-color: #f02529;
  --markbtn-1-bg-color: #b59724;
  --markbtn-1-disabled-bg-color: #605425;
  --markbtn-1-hover-bg-color: #c8a623;
  --markbtn-2-bg-color: #2a6d95;
  --markbtn-2-disabled-bg-color: #254a60;
  --markbtn-2-hover-bg-color: #3083b5;
  --export-btn-bg-color: #333;
  --export-btn-disabled-bg-color: #222;
  --export-btn-hover-bg-color: #555;
  --timeline-mark-color: #f00;
  --mlist-bg-color: rgba(255,255,255,0.025);
  --mlist-item-hover-bg-color: rgba(255,255,255,0.01);
  --mtype-default-bg-color: #ae5656;
  --mtype-1-bg-color: #aead56;
  --mtype-2-bg-color: #568dae;
  --mtype-3-bg-color: #666;

  --vlist-border-color: rgba(255,255,255,0.1);
  --vlist-item-border-color: rgba(255,255,255,0.1);
  --timeline-border-bottom-color: #333;
  --mlist-border-color: rgba(255,255,255,0.1);

  --font-color: #f0f0f0;
  --footer-font-color: rgba(255,255,255,0.1);
  --footer-link-color: rgba(255,255,255,0.5);
  --search-font-color: #fff;
  --markbtn-default-font-color: rgba(255,255,255,0.8);
  --markbtn-default-disabled-font-color: rgba(255,255,255,0.3);
  --markbtn-default-hover-font-color: rgba(255,255,255,1);
  --export-btn-font-color: rgba(255,255,255,0.8);
  --export-btn-disabled-font-color: rgba(255,255,255,0.3);
  --export-btn-hover-font-color: rgba(255,255,255,1);
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  margin: 0;
  background: var(--bg-color);
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1px;
  color: var(--font-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

input,
button {
  font-size: 16px;
}

.site-wrapper {}

.site-header {
  padding: 20px;
  background: var(--header-bg-color);
  &-back-btn {
    display: inline-block;
    margin: -20px;
    padding: 20px;
    &-icon {
      height: 15px;
      position: relative;
      top: -2px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}

.site-footer {
  padding: 50px 0;
  color: var(--footer-font-color);
  font-size: .8em;
  text-align: center;
  
  .locales {
    margin-top: 10px;

    &--link {
      margin: 0 5px;
      color: var(--footer-link-color);
    }
  }
}

.search-bar {
  display: flex;
  margin: 20px;
  &--input {
    flex: 1;
    padding: 15px 25px;
    color: var(--search-font-color);
    background: var(--input-bg-color);
    border: 0;
    border-radius: 0;
    outline: none;
  }
  &--submit {
    margin-left: 10px;
    padding: 15px 25px;
    color: var(--search-font-color);
    background: var(--input-bg-color);
    border: 0;
    border-radius: 0;
    outline: none;
  }
}

/*-- index page --*/
.video-list {
  background: var(--vlist-bg-color);
  border-top: 1px solid var(--vlist-border-color);
  border-bottom: 1px solid var(--vlist-border-color);

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--vlist-item-border-color);
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background: var(--vlist-item-hover-bg-color);
    }

    &-thumb {
      width: 120px;
      height: 120px;

      &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-text {
      flex: 1;
      padding: 25px;

      &-title {
        font-weight: bold;
      }
      &-desc {
        font-size: .9em;
        opacity: .7;
      }
    }
    .remove-btn {
      display: flex;
      align-items: center;
      margin-right: 20px;
      padding: 5px 20px;
      background: var(--remove-btn-bg-color);
      border-radius: 100px;
      cursor: pointer;
      font-size: 0.8em;
      line-height: 1;
    }
  }
}

/*-- player page --*/

.ytplayer {
  position: sticky;
  top: 0;
  background: var(--video-bg-color);
  &-wrapper {
    position: relative;
    height: 0;
    padding-top: 400px;
    @media (max-width: 767px) {
      padding-top: 56%;
    }
  }
  
  #player {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  .mark-btn {
    flex: 1;
    padding: 20px 0;
    background: var(--markbtn-default-bg-color);
    color: var(--markbtn-default-font-color);
    cursor: pointer;
    text-align: center;
    transition: .3s;
    &.disabled {
      background: var(--markbtn-default-disabled-bg-color);
      color: var(--markbtn-default-disabled-font-color);
      pointer-events: none;
    }
    &:hover {
      background: var(--markbtn-default-hover-bg-color);
      color: var(--markbtn-default-hover-font-color);
    }
  }
  .mark-btn-1 {
    background: var(--markbtn-1-bg-color);
    &.disabled {
      background: var(--markbtn-1-disabled-bg-color);
    }
    &:hover {
      background: var(--markbtn-1-hover-bg-color);
    }
  }
  .mark-btn-2 {
    background: var(--markbtn-2-bg-color);
    &.disabled {
      background: var(--markbtn-2-disabled-bg-color);
    }
    &:hover {
      background: var(--markbtn-2-hover-bg-color);
    }
  }
}

.export {
  .export-btn {
    display: block;
    padding: 20px 0;
    background: var(--export-btn-bg-color);
    color: var(--export-btn-font-color);
    cursor: pointer;
    text-align: center;
    transition: .3s;
    &.disabled {
      background: var(--export-btn-disabled-bg-color);
      color: var(--export-btn-disabled-font-color);
      pointer-events: none;
    }
    &:hover {
      background: var(--export-btn-hover-bg-color);
      color: var(--export-btn-hover-font-color);
    }
  }
  .export-content {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    resize: vertical;
  }
}

.timeline-wrapper {
  padding: 30px 12px;

  .timeline {
    position: relative;
    height: 10px;
    border-bottom: 1px solid var(--timeline-border-bottom-color);

    &--item {
      position: absolute;
      background: var(--timeline-mark-color);
      height: 5px;
      min-width: 3px;
    }
  }
}

.marks-list {
  background: var(--mlist-bg-color);
  border-top: 1px solid var(--mlist-border-color);
  border-bottom: 1px solid var(--mlist-border-color);

  &__item {
    display: flex;
    padding: 25px;
    border-bottom: 1px solid var(--mlist-border-color);
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background: var(--mlist-item-hover-bg-color);
    }
    .duration {
      flex: 1;
    }
    .type {
      display: flex;
      align-items: center;
      padding: 0 20px;
      background: var(--mtype-default-bg-color);
      border-radius: 100px;
      font-size: 0.8em;
      line-height: 1;
    }
    .type-1 {
      background: var(--mtype-1-bg-color);
    }
    .type-2 {
      background: var(--mtype-2-bg-color);
    }
    .type-3 {
      background: var(--mtype-3-bg-color);
    }

    .remove-btn {
      display: flex;
      align-items: center;
      margin-left: 10px;
      padding: 0 20px;
      background: var(--remove-btn-bg-color);
      border-radius: 100px;
      cursor: pointer;
      font-size: 0.8em;
      line-height: 1;
    }
  }
}