html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  margin: 0;
}

.site-header {
  padding: 20px;
  background: #111;
  color: #eee;
}