html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  margin: 0;
  background: #111;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1px;
  color: #f0f0f0;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

input,
button {
  font-size: 16px;
}

.site-wrapper {}

.site-header {
  padding: 20px;
  background: #000;
  &-back-btn {
    display: inline-block;
    margin: -20px;
    padding: 20px;
    &-icon {
      height: 15px;
      position: relative;
      top: -2px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}

.site-footer {
  padding: 50px 0;
  color: #333;
  font-size: .8em;
  text-align: center;
  
  .locales {
    margin-top: 10px;

    &--link {
      margin: 0 5px;
      color: rgba(255,255,255,0.5);
    }
  }
}

.search-bar {
  display: flex;
  margin: 20px;
  &--input {
    flex: 1;
    padding: 15px 25px;
    color: #fff;
    background: rgba(255,255,255,0.1);
    border: 0;
    border-radius: 0;
    outline: none;
  }
  &--submit {
    margin-left: 10px;
    padding: 15px 25px;
    color: #fff;
    background: rgba(255,255,255,0.1);
    border: 0;
    border-radius: 0;
    outline: none;
  }
}

/*-- index page --*/
.video-list {
  background: rgba(255,255,255,0.025);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background: rgba(255,255,255,0.01);
    }

    &-thumb {
      width: 120px;
      height: 120px;

      &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-text {
      flex: 1;
      padding: 25px;

      &-title {
        font-weight: bold;
      }
      &-desc {
        font-size: .9em;
        opacity: .7;
      }
    }
    .remove-btn {
      display: flex;
      align-items: center;
      margin-right: 20px;
      padding: 5px 20px;
      background: #333;
      border-radius: 100px;
      cursor: pointer;
      font-size: 0.8em;
      line-height: 1;
    }
  }
}

/*-- player page --*/

.ytplayer {
  background: #000;
  &-wrapper {
    position: relative;
    height: 0;
    padding-top: 400px;
    @media (max-width: 767px) {
      padding-top: 56%;
    }
  }
  
  #player {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  .mark-btn {
    flex: 1;
    padding: 20px 0;
    background: #c02529;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
    text-align: center;
    transition: .3s;
    &.disabled {
      background: #602529;
      color: rgba(255,255,255,0.3);
      pointer-events: none;
    }
    &:hover {
      background: #f02529;
      color: rgba(255,255,255,1);
    }
  }
  .mark-btn-1 {
    background: #b59724;
    &.disabled {
      background: #605425;
    }
    &:hover {
      background: #c8a623;
    }
  }
  .mark-btn-2 {
    background: #2a6d95;
    &.disabled {
      background: #254a60;
    }
    &:hover {
      background: #3083b5;
    }
  }
}

.export {
  .export-btn {
    display: block;
    padding: 20px 0;
    background: #c02529;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
    text-align: center;
    transition: .3s;
    &.disabled {
      background: #602529;
      color: rgba(255,255,255,0.3);
      pointer-events: none;
    }
    &:hover {
      background: #f02529;
      color: rgba(255,255,255,1);
    }
  }
  .export-content {
    display: block;
    width: 100%;
    height: 400px;
    resize: vertical;
  }
}

.timeline-wrapper {
  padding: 30px 12px;

  .timeline {
    position: relative;
    height: 10px;
    border-bottom: 1px solid #333;

    &--item {
      position: absolute;
      background: #f00;
      height: 5px;
      min-width: 3px;
    }
  }
}

.marks-list {
  background: rgba(255,255,255,0.025);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);

  &__item {
    display: flex;
    padding: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background: rgba(255,255,255,0.01);
    }
    .duration {
      flex: 1;
    }
    .type {
      display: flex;
      align-items: center;
      padding: 0 20px;
      background: #ae5656;
      border-radius: 100px;
      font-size: 0.8em;
      line-height: 1;
    }
    .type-1 {
      background: #aead56;
    }
    .type-2 {
      background: #568dae;
    }

    .remove-btn {
      display: flex;
      align-items: center;
      margin-left: 10px;
      padding: 0 20px;
      background: #333;
      border-radius: 100px;
      cursor: pointer;
      font-size: 0.8em;
      line-height: 1;
    }
  }
}